<html>
   <body>
      <form action = "{{ url_for('home') }}" method = "POST">
         <p>Username <input type = "text" name = "username" required/></p>
         <p>Password <input type ="password" name = "password" required/></p>
         <p><input type = "submit" value = "login" /></p>
         </form>
         <form action="{{ url_for('googleauth')}}" method="POST">
           <p> <input type="submit" value="login with google"> </p>
         </form>
         <p>  </p>
         <p>{{ username }}</p>
         <p>Not a user? Signup <a href={{ url_for('signup')}}>signup</a> </p>

   </body>
</html>
